<footer class="footer">
  <div class="container-fluid text-center bg-dark text-light">
    <div class="row">
      <div class="col-12 col-md-4 pt-2">
        <p>
          © 2021 FlorMarket .Todos los derechos reservados.
        </p>
      </div>
      <div class="col-12 col-md-4 pt-2">
        <p>
          Contáctanos al email contacto@flormaket.com
        </p>
      </div>
      <div class=" icons col-12 col-md-4">
        <a class="navbar-brand" href="#"><i id="twitter-icon" class="fab fa-instagram fa-2x" data-toggle="tooltip" data-placement="right" title="Síguenos en Instagram"></i></a>
        <a class="navbar-brand" href="#"><i id="facebook-icon" class="fab fa-facebook-square fa-2x" data-toggle="tooltip" data-placement="right" title="Síguenos en Facebook"></i></a>
      </div>
    </div >
  </div>
</footer>
