<div class="card">
  <h5 class="card-header">¡Bienvenido a Flor Market!</h5>
  <div class="card-body">
    <h5 class="card-title">Aquí encontrarás lo mejor en Flores para regalar</h5>
    <p class="card-text">Busca - Elige - Compra</p>
    <a href="/users/sign_up" class="btn btn-primary">¡Comienza Aquí!</a>
  </div>
</div>
<br>
<div class="card mb-3">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2TIf8EIK9R6WETe_z9RBlOiDXgFRcgOc5jg&usqp=CAU" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">¡Encuentra todo lo que necesitas!</h5>
    <p class="card-text">Las flores más frescas en un solo lugar</p>
    <a href="/users/sign_up" class="btn btn-primary">¡Comienza Aquí!</a>
  </div>
</div>