
  <div id= "card-1" class="card">
    
    <h5 class="card-header text-center">¡Bienvenido a Flor Market!. Descubre nuestras florerías</h5>
    <div class="card-body">
      <% if user_signed_in? %>

        <div class= "container pt-5">
        <div class= "row">
            <div class= "col-12 col-md-4 p-4">
            
            </div>

            <div class= "col-12 col-md-4 p-4">
              <div class="card-2 h-100">
                <div class="imagen">
                  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGqgCczwVoj59jFJdDbAR6OOt624VACeIPOQ&usqp=CAU" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">SANTIAGO</h5>
                  <hr>
                  <div class="text-center">

                    <a href="/products/" class="btn btn-outline-dark btn-sm mr-4 py-3">¡Ver Más!</a>    
                  </div>
                </div>	
              </div>	
            </div>

            

          </div>
        </div>
      <% else %>
        <h5 class="card-title">Aquí encontrarás lo mejor en Flores para regalar</h5>
        <p class="card-text">Busca - Elige - Compra</p>
        <a href="/users/sign_in" class="btn btn-outline-dark btn-sm mr-4 py-3">¡Ver Productos!</a>
      <% end %>
    </div>
  </div>

<br>
<div class="card-3 mb-3 text-center">
    <% if user_signed_in? %>  
      <img src="https://media.istockphoto.com/photos/flower-market-picture-id614213904?k=20&m=614213904&s=612x612&w=0&h=MEugg33D3OeONaFUTJ0rLbwXr8fzVnbZcgVAX7wC1Pc=" class="card-img-top" alt="...">
        <div class="card card-body">
          <h5 class="card-title">¡Encuentra todo lo que necesitas!</h5>
          <p class="card-text">Las flores más frescas en un solo lugar</p>
          <a href="/users/sign_in" class="btn btn-outline-dark btn-sm mr-4 py-3">¡Ver Productos!</a>
        </div>
    <% else %>
      <img src="https://media.istockphoto.com/photos/flower-market-picture-id614213904?k=20&m=614213904&s=612x612&w=0&h=MEugg33D3OeONaFUTJ0rLbwXr8fzVnbZcgVAX7wC1Pc=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">¡Encuentra todo lo que necesitas!</h5>
        <p class="card-text">Las flores más frescas en un solo lugar</p>
        <a href="/users/sign_in" class="btn btn-outline-dark btn-sm mr-4 py-3">¡Ver Productos!</a>
      </div>
    <% end %>
</div>

<br>
<br>
<br>
<br>
<br>