<div class="cont">
    <div class="contact-form">
      <h1 class="title">Contáctanos</h1>
      <p class="subtitle">Por favor usa el formulario a continuación si quieres ser parte de FlorMarket con tu Florería</p>
      <%= render 'form' %>
    </div>
</div>
<br>
<br>
<br>
