<div id="card-item">
  <%= render 'carts_item'%>
 <br> 

  <div>
    <%= link_to 'Ir a Pagar', pay_with_paypal_cart_path, method: :post, class: 'btn btn-outline-dark btn-lg  pull-right' %>
  </div>
</div>
<br> 
<br> 
<br> 
<br> 
