<% if user_signed_in? && current_user.is_admin? %>
    <h1>New Category</h1>

    <%= render 'form', category: @category %>

    <%= link_to 'Back', categories_path %>

<% else %>
    <% controller.redirect_to root_path%>
<% end %>
