<% if user_signed_in? && current_user.is_admin? %>   
    <h1>New Product</h1>

    <%= render 'form', product: @product %>

    <%= link_to 'Back', products_path %>
<% else %>
    <% controller.redirect_to root_path%>
<% end %